.logo{
  display: inline-block; width: 120px; height: 40px; background:  no-repeat center; background-size: contain; vertical-align: middle;
}
.mini-sidebar .top-navbar .navbar-header{
  width: 150px; padding-left: 10px;
}
.topbar .top-navbar .navbar-header{
  padding-right: 10px; text-align: center;
}
.mailbox .message-center a .mail-contnet{
  width: 100%;
}
body{
  &.logged-out{
    background: #f4f6f9;
  }
}
.sidebar-nav > ul > li > a i {
  width: 40px;
  text-align: center;
}
.sidebar-nav > ul > li > a.active{
  background: none;
}