.logo{
  display: inline-block; width: 120px; height: 40px; background:  no-repeat center; background-size: contain; vertical-align: middle;
}
.mini-sidebar .top-navbar .navbar-header{
  width: 150px; padding-left: 10px;
}
.topbar .top-navbar .navbar-header{
  padding-right: 10px; text-align: center;
}
.mailbox .message-center a .mail-contnet{
  width: 100%;
}
body{
  &.logged-out{
    background: #f4f6f9;
  }
}
.sidebar-nav > ul > li > a i {
  width: 40px;
  text-align: center;
}
.sidebar-nav > ul > li > a.active{
  background: none;
}
.block_loading {
  min-height: 200px;
  background: #ededed url(../img/load.gif) no-repeat center center;
}
.dn{
  display: none;
}
.page-wrapper{
  padding-bottom: 0;
}
.modal-title{
  font-weight: 600;
}

@colorInfo : #17a2b8;
.btn-outline-info {
  color: @colorInfo; border-color: @colorInfo;
  box-shadow: 0 2px 2px 0 rgba(29, 160, 181, 0.14), 0 3px 1px -2px rgba(29, 160, 181, 0.2), 0 1px 5px 0 rgba(29, 160, 181, 0.12);
  &:hover{
    background-color: @colorInfo; border-color: @colorInfo;
    box-shadow: 0 14px 26px -12px rgba(2, 163, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(2, 163, 189, 0.2);
  }
  &.active, &:focus{
    box-shadow: 0 14px 26px -12px rgba(2, 163, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(2, 163, 189, 0.2);
  }
}
.btn-info {
  border-color: @colorInfo; background-color: @colorInfo;
  box-shadow: 0 2px 2px 0 rgba(29, 160, 181, 0.14), 0 3px 1px -2px rgba(29, 160, 181, 0.2), 0 1px 5px 0 rgba(29, 160, 181, 0.12);
  &:hover{
    background-color: @colorInfo; border-color: @colorInfo;
    box-shadow: 0 14px 26px -12px rgba(2, 163, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(2, 163, 189, 0.2);
  }
  &.active, &:focus{
    box-shadow: 0 14px 26px -12px rgba(2, 163, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(2, 163, 189, 0.2);
  }
}
.custom-select{
  background-color: white;
}
.card__picture {
  display: inline-block;
  width: 39px;
  height: 25px;
  background: transparent no-repeat center;
  background-size: cover;
  vertical-align: middle;
}
.ajax_pagination{
  position: relative;
}
.ps{
  position: relative;
}

.ajax_block_more{
  display: none;
}
.vtabs{
  width: 100%; position: relative;
}
.table{
  &.table-width-auto{
    width: auto; max-width: none;
  }
}
.custom-select{
  &.select-width-auto{
    width: auto; max-width: none;
  }
}
[limit_group]{
  &:last-child{
    border-bottom: 0!important; margin-bottom: 0; padding-bottom: 10px;
  }
}
.tooltip-content{
  display: flex; align-items: center;
}
.tooltip-img{
  img{
    max-width: 160px; max-height: 160px; height: auto;
  }
}
.s_logo{
  width: 90px; height: 90px; background: transparent no-repeat center top; background-size: contain; display: inline-block;

  &.s_logo_empty{
    border-radius: 50%; background: #eee;
  }
}
.dropzone {
  min-height: 50px;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  padding: 0;

  .dz-message{
    margin: 20px;
  }
}
.supplier-detail {
  &__avatar {
    text-align: center;
    &-empty {
      border-radius: 50%;
      background: #ddd;
    }
    &-pic {
      display: inline-block;
      width: 100px;
      height: 100px;
      background: transparent no-repeat center;
      background-size: contain;
    }
  }
}

@media (min-width: 768px) {
  .mini-sidebar .sidebar-nav #sidebarnav > li > a {
    padding: 12px 14px;
    width: 70px;
  }
}

.row [class*="col-"] + .with-mb[class*="col-"] {
  margin-top: 5px;
}
@media (min-width: 1200px) {
  .row [class*="col-lg-"] + .with-mb[class*="col-lg-"],
  .row [class*="col-xl-"] + .with-mb[class*="col-xl-"]
  {
    margin-top: 0;
  }
}
@media (max-width: 1199px) {
  .vtabs {
    .tabs-floating {
      position: absolute;
      top: 0;
      left: -100%;
      display: block;
      width: auto;
      background: white;
      box-shadow:0 3px 12px rgba(0, 0, 0, 0.05); z-index: 1;
      &.active{
        left: 0;
      }
    }
  }
}
@media (min-width: 992px) {
  .row [class*="col-md-"] + .with-mb[class*="col-md-"] {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .row [class*="col-sm-"] + .with-mb[class*="col-sm-"] {
    margin-top: 0;
  }
}